.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item.ativo {
    display: block;
}

.item .titulo {
    font-size: 12rem;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.item .fruta {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    border-top: -50px;
}

.item .jarra {
    z-index: 2;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#voltar, #ir {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}

#voltar {
    left: 30px;
}

#ir {
    right: 30px;
}

@keyframes toActive {
    from {
        top: 100%;
        opacity: 0;
    }
} 
 .item.ativo img.fruta {
    animation: toActive 1s ease-in-out 1;
 }

 .item.ativo .titulo {
    animation: toActive 1s ease-in-out 1;
}